asttokens
behave
comm
contourpy
cycler
debugpy
# decorator  # Potential conflict with moviepy
executing
fonttools
# ipykernel
# ipython
jedi
joblib
jupyter_client  # Double-check compatibility
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas  # Align with Colab's pre-installed version
parse
parse-type
parso
pexpect
pillow
platformdirs
plotly
# prompt-toolkit
psutil
ptvsd
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pytz
# pyzmq  # Check compatibility
scikit-learn
scipy
seaborn
six
stack-data
tabulate
tenacity
threadpoolctl
# tornado
traitlets
tzdata
wcwidth
xgboost
